<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Login</title>
</head>

<body>
    <div id="loginForm">
        <h1>LOGIN</h1>
        <form method="POST" action="/login">
            <input type="text" name="id" placeholder="ID">
            <input type="text" name="pw" placeholder="PW">
            <input type="submit" id="loginbtn">
            <label class="mainbtn" for="loginbtn">로그인</label>
        </form>
    </div>
</body>

</html>